[submodule "BanjoRecompSyms"]
	path = BanjoRecompSyms
	url = https://github.com/BanjoRecomp/BanjoRecompSyms
[submodule "bk-decomp"]
	path = bk-decomp
	url = https://gitlab.com/banjo.decomp/banjo-kazooie
